body{
color: white;

}
.BG{
    position: fixed;
    right: 0;
    top: 10vh;
    height: 50vh;
    width: 50vw;
}
nav{
   
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, #ffffff, #dad9d9);
    display: inline-flex;
    width: 100vw;
    height: 10vh;
    right: 0;
    left: 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 999;
}
.nazov {
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 200%;
    color: black;
    text-decoration: none;
    cursor: pointer;
    animation: colorChange 1.5s infinite alternate;
  }
.nav_links {
    display: flex;
    justify-content: space-around;
    
    
} 
.nav_links a{
    margin-left: 9vw;

}
  
  .nav_links  a {
    transition: all 0.3s ease 0s;
  }
  
  .nav_links  a:hover {
    color: silver;
  }
  
  button {
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

  }
  
  button:hover {
    background-color: silver;
    border-color: black;
  }
a, button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
  }